body{
    margin: 0 auto;
    padding: 0px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    
}


.image{
    /* width: 100px; */
    border-radius: 50%;
    width:130px;
    height: 130px;
}

.name{
    color: white;
}

.location{
    color: #c0dc6a;
}

.bio{
    color: white;
}

.buttons{
    display: flex;
    /* justify-content: space-evenly; */
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-direction: column;
    background-color:  #333333;
    color: white;
}
.link-btn{
    padding: 5px;
    border: 2px solid white;
    margin: 10px;
    border-style: none;
    list-style: none;
    text-decoration: none;
    color: white;
    text-decoration: none;
    background-color:  #333333;
    border-radius: 5px;
    /* justify-content: space-around; */
  


}

main{
    /* padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    left : 600px;
    top : 100px;
    border: 3px solid white; */
    margin: 0 auto;
    align-items: auto;
    justify-content: center;

    padding : 20px 20px 140px;
    background-color: #1f1f1f;
    
}

.name{
    font-size: 30px;
}

.link-btn:hover {
    background-color: red;
  }

button a{
    color: white !important;;
    display: flex;
    /* justify-content: space-evenly; */
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;

}

button{
    display: flex;
    justify-content: center;
    flex-direction: column;
}